USE [master]
GO
/****** Object:  Database [NeoNatalCF]    Script Date: 6/22/2016 2:07:05 PM ******/
CREATE DATABASE [NeoNatalCF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NeoNatalCF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NeoNatalCF.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NeoNatalCF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NeoNatalCF_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NeoNatalCF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NeoNatalCF]
GO
/****** Object:  Table [dbo].[ClientMother]    Script Date: 6/22/2016 2:07:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientMother](
	[ClientMotherID] [int] IDENTITY(1,1) NOT NULL,
	[Community_HealthWorkerID] [int] NOT NULL,
	[First_Name] [nvarchar](50) NOT NULL,
	[Last_Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Term] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientMotherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Community_HealthWorker]    Script Date: 6/22/2016 2:07:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Community_HealthWorker](
	[Community_HealthWorkerID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[PassWord] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Community_HealthWorkerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Program_Itervention]    Script Date: 6/22/2016 2:07:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Program_Itervention](
	[ProgramID] [int] IDENTITY(1,1) NOT NULL,
	[ClientMotherID] [int] NOT NULL,
	[Program] [nvarchar](max) NOT NULL,
	[INtervention] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgramID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Survey]    Script Date: 6/22/2016 2:07:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Survey](
	[SurveyID] [int] IDENTITY(1,1) NOT NULL,
	[ClientMotherID] [int] NOT NULL,
	[Complete] [bit] NOT NULL,
	[Score] [int] NULL,
	[Question] [nvarchar](max) NOT NULL,
	[Answer] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SurveyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[ClientMother]  WITH CHECK ADD FOREIGN KEY([Community_HealthWorkerID])
REFERENCES [dbo].[Community_HealthWorker] ([Community_HealthWorkerID])
GO
ALTER TABLE [dbo].[ClientMother]  WITH CHECK ADD FOREIGN KEY([Community_HealthWorkerID])
REFERENCES [dbo].[Community_HealthWorker] ([Community_HealthWorkerID])
GO
ALTER TABLE [dbo].[Program_Itervention]  WITH CHECK ADD FOREIGN KEY([ClientMotherID])
REFERENCES [dbo].[ClientMother] ([ClientMotherID])
GO
ALTER TABLE [dbo].[Survey]  WITH CHECK ADD FOREIGN KEY([ClientMotherID])
REFERENCES [dbo].[ClientMother] ([ClientMotherID])
GO
USE [master]
GO
